*{
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(to right,rgb(194, 155, 162), white, rgba(59, 119, 146, 0.658),#943f9485);
    font: normal 18pt Arial;
}

h1{
    background: -webkit-linear-gradient(left, #343691 20%, #5e2525 70%);
    background: -webkit-linear-gradient(right, #ff1053 25%, #2f558f 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

    
}
header {
    color: white;
    text-align: center;
}

section {
    background: -webkit-linear-gradient(right, #ff1053 25%, #2f558f 100%);
    border-radius: 10px;
    padding: 1px 1px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
}

div{
    text-align: center;
    padding: 5px;
}

input[type=number]{
    background-color: rgb(1, 0, 8);
    height: 20px;
    padding: 0px;
    margin: 0px;
    color: rgb(153, 71, 51);
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    border-radius: 8px;
    border: 2px solid rgba(6, 57, 99, 0.692);
}

input[type=number]:focus {
    color: rgb(250, 249, 249);
    font-size: 14px;
    font-family:cursive;
    font-weight: normal;
    font-style: italic;
}

option {
    font-family: cursive;
    font-size: 20px;
    font-style: italic;
    background-color: rgba(27, 27, 27, 0.363);
    color: rgb(37, 0, 0);
}

footer {
    background: -webkit-linear-gradient(left, #0e0d0d 0%, #0f0000 100%);
    background: -webkit-linear-gradient(right, #141414 15%, #01112b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-align: center;
    font-style: italic;
}